# macOS
.DS_Store

# Xcode / iOS
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
!default.*
xcuserdata
DerivedData
*.ipa
*.hmap
*.xccheckout
*.moved-aside
*.xcode.env.local

# Android / IntelliJ / Gradle
build/
.idea/
.gradle/
local.properties
*.iml
*.hprof
.cxx/
.kotlin/
*.apk
*.aab

# React Native / Metro / Bundling
*.jsbundle
.metro-health-check*

# Node.js / npm / Yarn
node_modules/
npm-debug.log*
yarn-error.log*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Ruby / CocoaPods / Bundler
**/Pods/
vendor/bundle/

# Fastlane artifacts
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots/
**/fastlane/test_output/

# Coverage reports
/coverage/

# Env configs (React Native, EAS, CI)
.env
.env.*
*.env.backup

# Config & signing keys
config.properties
*.json.backup
keystores/
*.keystore
*.jks
key.properties
signingConfigs.json
config.txt
keys.txt
keys.json
key_info.txt

# Diagnostic logs
*.log
*.trace
*.crash

# Additional Non code related
00_Not_Code_Additional/